<div class="header-top-area">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <div class="logo-area">
                  Sistem Pendukung Keputusan Penentuan Status Gizi Bruk
                  Balita Puskesmas Tetaf, Kec. Kuatnana, Kab. TTS, NTT
              </div>
          </div>
      </div>
  </div>
</div>