<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Normal Table | Notika - Notika Admin Template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon
  ============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon.ico">
  <!-- Google Fonts
  ============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
  <!-- Bootstrap CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
  <!-- font awesome CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/font-awesome.min.css">
  <!-- owl.carousel CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/owl.carousel.css">
  <link rel="stylesheet" href="/admin/css/owl.theme.css">
  <link rel="stylesheet" href="/admin/css/owl.transitions.css">
  <!-- meanmenu CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/meanmenu/meanmenu.min.css">
  <!-- animate CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/animate.css">
  <!-- normalize CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/normalize.css">
<!-- wave CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/wave/waves.min.css">
  <link rel="stylesheet" href="/admin/css/wave/button.css">
  <!-- mCustomScrollbar CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
  <!-- Notika icon CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/notika-custom-icon.css">
  <!-- main CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/main.css">
  <!-- style CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/style.css">
  <!-- responsive CSS
  ============================================ -->
  <link rel="stylesheet" href="/admin/css/responsive.css">
  <link rel="stylesheet" href="/custom/admin.css">
  <!-- modernizr JS
  ============================================ -->
  <script src="/admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>