extends ../base.pug

block content
  .row
    .col-sm-6
      form(method="POST" enctype="multipart/form-data")
        .card
          .card-header
            strong Input User Baru
          .card-body
            .form-group
              label Nama
              input.form-control(type='text' name='nama')
            .form-group
              label Username
              input.form-control(type='text' name='username')
            .form-group
              label Password
              input.form-control(type='text' name='password')

          .card-footer
            button.btn.btn-sm.btn-primary(type='submit').mr-4
              i.fa.fa-dot-circle-o
              |  Submit
            button.btn.btn-sm.btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
