<!-- CoreUI and necessary plugins-->
<script src="/app/vendors/jquery/js/jquery.min.js"></script>
<script src="/app/vendors/popper.js/js/popper.min.js"></script>
<script src="/app/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/app/vendors/pace-progress/js/pace.min.js"></script>
<script src="/app/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="/app/vendors/@coreui/coreui/js/coreui.min.js"></script>
<!-- Plugins and scripts required by this view-->