extends base.pug

block content
  .row
    .col-sm-6
      form(method="POST" enctype="multipart/form-data")
        .card
          .card-header
            strong Pilih File
          .card-body
            .form-group
              label File CSV
              input.form-control(type='file' name='data')

          .card-footer
            button.btn.btn-sm.btn-primary(type='submit').mr-4
              i.fa.fa-dot-circle-o
              |  Submit
            button.btn.btn-sm.btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
