
  <script src="/landing/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/landing/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/landing/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/landing/js/jquery.ajaxchimp.min.js"></script>
  <script src="/landing/js/mail-script.js"></script>
  <script src="/landing/js/main.js"></script>