<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lorahost hosting - Home</title>
	<link rel="icon" href="/landing/img/Fevicon.png" type="image/png">

  <link rel="stylesheet" href="/landing/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/landing/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/landing/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/landing/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="/landing/css/style.css">
</head>